@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mera";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96% 0.018 272.314);
  --color-base-200: oklch(93% 0.034 272.788);
  --color-base-300: oklch(87% 0.065 274.039);
  --color-base-content: oklch(25% 0.09 281.288);
  --color-primary: oklch(85% 0.199 91.936);
  --color-primary-content: oklch(28% 0.066 53.813);
  --color-secondary: oklch(67% 0.182 276.935);
  --color-secondary-content: oklch(25% 0.09 281.288);
  --color-accent: oklch(84% 0.238 128.85);
  --color-accent-content: oklch(45% 0.124 130.933);
  --color-neutral: oklch(25% 0.09 281.288);
  --color-neutral-content: oklch(93% 0.034 272.788);
  --color-info: oklch(48% 0.243 264.376);
  --color-info-content: oklch(88% 0.059 254.128);
  --color-success: oklch(44% 0.119 151.328);
  --color-success-content: oklch(87% 0.15 154.449);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "mera-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(86% 0.005 56.366);
  --color-primary: oklch(28% 0.066 53.813);
  --color-primary-content: oklch(85% 0.199 91.936);
  --color-secondary: oklch(12% 0.042 264.695);
  --color-secondary-content: oklch(70% 0.04 256.788);
  --color-accent: oklch(76% 0.233 130.85);
  --color-accent-content: oklch(27% 0.072 132.109);
  --color-neutral: oklch(26% 0.007 34.298);
  --color-neutral-content: oklch(70% 0.01 56.259);
  --color-info: oklch(29% 0.149 302.717);
  --color-info-content: oklch(71% 0.203 305.504);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(55% 0.195 38.402);
  --color-warning-content: oklch(90% 0.076 70.697);
  --color-error: oklch(25% 0.092 26.042);
  --color-error-content: oklch(63% 0.237 25.331);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

@layer base {
  h1 {
    font-size: var(--text-6xl);
    font-family: var(--font-fontMattoneBlack);
    line-height: var(--leading-tight);
  }

  h2 {
    font-size: var(--text-5xl);
    font-family: var(--font-fontInstrument);
  }

  h3 {
    font-size: var(--text-3xl);
    font-family: var(--font-fontAbsans);
  }

  h4 {
    font-size: var(--text-m);
    font-family: var(--font-fontMattoneBlack);
  }

  p,
  li,
  ul {
    font-size: var(--text-base);
    font-family: var(--font-fontDiatypeMedium);
    font-weight: var(--font-weight-medium);
  }
}

.font-absans {
  font-family: var(--font-fontAbsans);
}

.font-mattone-black {
  font-family: var(--font-fontMattoneBlack);
}

.font-mattone-bold {
  font-family: var(--font-fontMattoneBold);
}

.font-mattone {
  font-family: var(--font-fontMattone);
}

.font-instrument {
  font-family: var(--font-fontInstrument);
}

.font-roboto {
  font-family: var(--font-fontRoboto);
}

.font-diatype-regular {
  font-family: var(--font-fontDiatypeRegular);
}

.font-diatype-medium {
  font-family: var(--font-fontDiatypeMedium);
}

.font-diatype-bold {
  font-family: var(--font-fontDiatypeBold);
}

.btn-landing {
  text-transform: uppercase;
  font-family: var(--font-fontAbsans);
  letter-spacing: 0.025em;
}

.btn-app {
  font-family: var(--font-fontDiatypeRegular);
  letter-spacing: 0.025em;
}

@media (max-width: 768px) {
  h1 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-xl);
  }
}
