@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "meraTheme";
  default: true;
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light;

  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(83% 0.145 321.434);
  --color-primary-content: oklch(29% 0.136 325.661);
  --color-secondary: oklch(84% 0.238 128.85);
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(52% 0.154 150.069);
  --color-success-content: oklch(96% 0.044 156.743);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(96% 0.015 12.422);

  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 1;
}

@layer base {
  h1 {
    font-size: var(--text-8xl);
    font-family: var(--font-fontInstrument);
    line-height: var(--leading-tight);
  }

  h2 {
    font-size: var(--text-5xl);
    font-family: var(--font-fontInstrument);
  }

  h3 {
    font-size: var(--text-2xl);
    font-family: var(--font-fontMattoneBold);
  }

  h4 {
    font-size: var(--text-xs);
    font-family: var(--font-fontMattoneBlack);
  }

  p,
  li,
  ul {
    font-size: var(--text-base);
    font-family: var(--font-fontRoboto);
    font-weight: var(--font-weight-medium);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: var(--text-6xl);
  }

  h3 {
    font-size: var(--text-base);
  }
}

.font-absans {
  font-family: var(--font-fontAbsans);
}

.font-mattone-black {
  font-family: var(--font-fontMattoneBlack);
}

.font-mattone-bold {
  font-family: var(--font-fontMattoneBold);
}

.font-mattone {
  font-family: var(--font-fontMattone);
}

.font-instrument {
  font-family: var(--font-fontInstrument);
}

.font-roboto {
  font-family: var(--font-fontRoboto);
}
