@import "tailwindcss";
@plugin "daisyui";

.font-absans {
  font-family: var(--font-fontAbsans);
}

.font-mattone-black {
  font-family: var(--font-fontMattoneBlack);
}

.font-mattone-bold {
  font-family: var(--font-fontMattoneBold);
}

.font-mattone {
  font-family: var(--font-fontMattone);
}

.font-instrument {
  font-family: var(--font-fontInstrument);
}

.font-roboto {
  font-family: var(--font-fontRoboto);
}
